@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&family=Montserrat:wght@300&family=Roboto:wght@100;500&family=Tiro+Devanagari+Marathi&display=swap');
/*  font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tiro Devanagari Marathi', serif;     
*/
/* import TESLA.ttf from /media*/
@font-face {
    font-family: "TESLA";
    src: local("TESLA"),
     url("./media/fonts/TESLA.ttf") format("truetype");
    }
    
* {
    padding:0;
    margin:0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

section {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    scroll-snap-align: start;
}

.logo {
    display:flex;
    position: relative;
    left: 0;
}
.navbar *{
    color:rgb(255, 255, 255)!important;
    z-index: -1!important;
    /* black outline for text */
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}
[class="navbar-toggler collapsed"] {
   /* give the hamburger menu a white outline */
    box-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

[class="d-inline-block align-top"] {
    margin-left: 10px;
    margin-right: 10px;
 }

.navbar *:hover {
    cursor: pointer;
    color: rgb(255, 255, 255)!important;
    transition: 0.5s;
}


.cart {
    overflow: hidden;
    width: 10vw;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.562);
    color:white;
    position:absolute;
    top: 1vw;
    right:0.25vw;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cart:before{
    content: "Ostoskori";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.intro,.intro2,.intro3 {
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.intro2 {
    background-image: url("./media/sport-back.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 5px black;
}

select {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 14px 18px;
    border: none;
    border-radius: 6px;
    background-color: #f1f1f1;
}

.button {
    background-color: #266df8;  
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #1f5dd2;
    color: white;
}

.showcase {
    position: absolute;
    background-image: url("./media/basic.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}


.logo{
        position: absolute;
        background-image: url("./media/truck-side.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        z-index: -1;
}

/* generate a down arrow */
.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    animation: animateDown 1s infinite;
}

/* .admin {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 135, 135);
    height: 100vh;
    scroll-snap-align: start;
} */

.admin {
    display:flex;
    justify-content: center;
    align-items:center;
}

#client {
    /* background-color: black!important;
    color: rgb(255, 255, 255)!important; */
    background-image: url("./media/interiot.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.asd2 {
    background-image: url("./media/sport-front.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0)!important;
    font-size: 35px!important;
}